*{
    background-color: #ffffff;
    /* color: #000000; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    border-bottom: 1px solid #ffffff;
}

.nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.nav a {
    padding-left: 5px;
    position: relative;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.Landing {
    background-image: linear-gradient(to right, #64a2e8, #f28e41);
    border: 1px solid royalblue;
    background-size: fill;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ffffff;
}

.landing-card {
    width: 40%;
    height: 55%;
    border-radius: 20px;
    margin: 2% 0% 0% 2%;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 5px 5px #b5978a;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #111827;
}

.landing-card  * {
    background-color: transparent;
    border-radius: 10px;
}

.landing-header h1 {
    font-size: 3em;
    /* border: 1px solid salmon; */
    margin-top: 1%;
}

.landing-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid olive; */
    margin-top: -3%;
    height: 50%;
}

.landing-body p {
    /* border: 1px solid red; */
    grid-column-start: 1;
    border-radius: 0px;
    height: 50%;
    width: 75%;
    font-size: 1.25em;
    text-align: left;
    align-items: left;
    margin-right: 30%;
    margin-left: 5%;
    order: 1px;
}

.landing-body a {
    /* border: 1px solid green; */
    grid-column-start: 2;
    font-size: 1em;
    height: 25%;
    width: 50%;
    align-items: right;
    margin: 17.5% 20% 30%;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    background-color: #1D4ED8;
    /* box-shadow: 5px 5px #b59586; */
    text-decoration: none;
    color: #ffffff;
}

.btn:visited {
    text-decoration: none;
    color: #ffffff;
}

.btn:hover {
    text-decoration: none;
    background-color: #64a2e8;
    color: #ffffff;
}

.btn:active {
    text-decoration: none;
    background-color: #f28e41;
    color: #ffffff;
}

.About-Us {
    border: 1px solid royalblue;
    display: flex;
    flex-direction: row;
    height: 600px;
}

.About-Us-flex {
    border: 1px solid salmon;
    font-size: 2.5em;
    width: 100%;
    text-align: left;
    padding-left: 40px;
}

.About-Us-details {
    margin-left: 2%;
}

.About-Us-details > p {
    font-size: 2em;
}

.About-Us-details > hr {
    width: 95%;
    margin-left: 0%;
}

.About-Us-meeting {
    display: flex;
    flex-direction: row;
}

.meeting-img {
    border: 1px solid green;
    border-radius: 20px;
    width: 25%;
    height: auto;
    margin-right: 2%;
}

.meeting-para {
    border: 1px solid olive;
    width: 65%;
    height: auto;
    font-size: 1em;
}

.Our-Services {
    background-image: linear-gradient(to right, #64a2e8, #f28e41);
    height: auto;
    /* border: 1px solid chartreuse; */
    padding-left: 1%;
    padding-bottom: 5%;
}

.Our-Services * {
    background-color: transparent;
}

.Our-Services-flex {
    border: 1px solid crimson;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2.5%;
}

.Our-Services-header {
    border: 1px solid red;
    width: 35%;
    height: auto;
    font-size: 3em;
    text-align: center;
}

.Our-Services-para {
    border: 1px solid green;
    width: 55%;
    height: auto;
    margin-left: 5%;
    font-size: 1.5em;
    text-align: left;
    padding-left: 40px;
}

.service-card {
    /* border: 1px solid seashell; */
    border-radius: 10px;
    width: 40%;
    height: auto;
    margin-top: 1%;
    background-color: #4C516D;
    box-shadow: 5px 5px #00416a;
    color: #ffffff;
}

.service-card h3 {
    font-size: 1.75em;
    margin-top: 1.5%;
    border: 1px solid salmon;
}

.service-card p {
    font-size: 1.25em;
}

.one {
    margin-left: 50%;
    padding: 1.5%;
}

.two {
    margin-left: 5%;
    padding: 1.5%;
}

.three {
    margin-left: 50%;
    padding: 1.5%;
}

.Why-Us {
    /* border: 1px solid red; */
    background-color: #7c9fcc;
    margin: 0 auto;
    height: 675px;
    padding-left: 1%;
    padding-bottom: 5%;
}

.Why-Us * {
    background-color: transparent;
}

.Why-Us-flex {
    display: flex;
    flex-direction: row;
    /* border: 1px solid crimson; */
}

.Why-Us-header {
    border: 1px solid saddlebrown;
    width: 35%;
    text-align: center;
    font-size: 2.5em;
    height: auto;
}

.Why-Us-body {
    border: 1px solid yellow;
    margin-left: 5%;
    width: 55%;
    height: auto;
    font-size: 1.25em;
    /* padding-left: 40px;
    padding-top: 10px; */
    padding: 10px 0 15px 40px;
    text-align: left;
}

.OATP {
    margin-left: 40%;
    border-top: 1px solid #6e6e6e;
    display: flex;
    flex-direction: row;
}

.oatp-img {
    width: 10%;
    height: auto;
    /* border: 1px solid chartreuse; */
}

.OATP h4 {
    font-size: 2em;
    /* border: 1px solid red; */
    width: 50%;
    text-align: left;
    padding-left: 1%;
}

.OATP p {
    /* border: 1px solid olive; */
    width: 45%;
    height: auto;
    text-align: right;
    margin-right: 3%;
    padding: 30px 0 10px 0;
    font-size: 1.25em;
}

.Our-Numbers {
    /* border: 1px solid yellow; */
    height: auto;
    padding: 0 0 5% 1%;
}

.Our-Numbers-flex {
    display: flex;
    /* border: 1px solid gold; */
    flex-direction: row;
    align-items: center;
    padding-top: 2.5%;
}

.Our-Numbers-header {
    /* border: 1px solid lightgoldenrodyellow; */
    width: 35%;
    height: auto;
    font-size: 2.5em;
    text-align: left;
}

.Our-Numbers-para {
    /* border: 1px solid green; */
    width: 55%;
    height: auto;
    margin-left: 5%;
    font-size: 1.25em;
    text-align: left;
    padding-left: 40px;
}

.Our-Numbers-numbers {
    /* border: 1px solid coral; */
    width: 60%;
    height: auto;
    margin-top: 2.5%;
    margin-left: 40%;
}

.grid-box {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    height: auto;
}

.grid {
    border-radius: 10px;
    background-image: linear-gradient(to right, #64a2e8, #f28e41);
    box-shadow: 5px 5px #969db0;
    color: #ffffff;
    padding-left: 5%;

}

.grid * {
    background-color: transparent;
}

.four {
    /* border: 1px solid sandybrown; */
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

.five {
    /* border: 1px solid salmon; */
    margin-left: 2.5%;
    margin-bottom: 2.5%;
}

.six {
    /* border: 1px solid saddlebrown; */
    margin-right: 2.5%;
    margin-top: 2.5%;
}

.seven {
    /* border: 1px solid sienna; */
    margin-left: 2.5%;
    margin-top: 2.5%;
}

.grid-numbers {
    font-size: 4.5em;
    margin-top: 2%;
}

.grid-details {
    font-size: 1.75em;
}

.industries-group {
    border: 1px solid green;
    height: auto;
    padding: 0 0 5% 1%;
}

.industries-heading {
    display: flex;
    flex-direction: row;
}

.industries-header {
    border: 1px solid cyan;
    width: 35%;
    text-align: center;
    font-size: 2.5em;
    height: auto;
}

.industries-para {
    border: 1px solid chartreuse;
    margin-left: 5%;
    width: 55%;
    height: auto;
    font-size: 1.25em;
    padding: 10px 0 15px 40px;
}

.industries-flex {
    display: grid;
    grid-template-columns:  2fr 2fr 2fr;
}